.footer{
    background-color: rgb(1, 1, 63);
    color: aliceblue;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} 

